@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital@1&display=swap');
body{
    background-image: url('../Images/Background.jpg');
background-size: cover;
height: 150vh;
background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}
.first{
    text-align: center;
    margin-top: 40px;
    color: black;
    font-size: 20px;
    overflow: hidden;
    font-family: 'Source Code Pro', monospace;
}

.first pre{
    font-family: 'Source Code Pro', monospace;
}
.first h1{
    text-align: center;
}
