@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body{
    background: yellow;
}
.container{
    text-align: center;
    margin-top: 40px;
    color: black;
    font-family: 'Dancing Script', cursive;
}

.container pre{
    margin-top: 50px;
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    overflow: hidden;
}
.container h1{
    text-align: center;
}
.img{
    position: relative;
    width: 100vw;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}